.sidenav{
  
  width:100%;
}

.sidenav ul li{
  flex-direction: column;
  list-style: none;

}
.sidenav ul li button{
  min-width: 100%;
  text-align: left;
  border:none;
  cursor:pointer;
  letter-spacing: 0.25em;
  font-size: medium;
  font-weight:600;
  text-transform: uppercase;
  background: none;
  border-bottom: 2px solid transparent;
  margin-top: 2px;
}
.sidenav ul li button:hover,
.sidenav ul li button:focus,
.sidenav ul li button:active{
  border-bottom: 2px solid var(--gs-react);
}
 @media screen and (max-width:768px) {
  .sidenav ul li button{
    text-align: right;
  }
 }