@media screen and (max-width:768px){
    .topNav{
        position:fixed;
        
    }
}
.topNav{
    position:fixed;
    backdrop-filter: grayscale(100%) blur(5px);
    background: rgb(40, 44, 52, 0.65);
    width:100%;
    top:0;
    height: 48px;
    border-bottom: 2px solid var(--azurra);
    z-index:999;
    transition: 2s ease-out;
}
.appLogo{
    position: fixed;
    background: black;
    top:0;
    height:48px;
    width:100%;
   
    color:#f1f1f1;
}

.navContainer{   
    position:relative;
    float:right;
    display:flex;
    flex-direction: row;
    transition: 2s step-end;
}
.navWrapper{
    
    height: 48px;
    max-width: 90%;
    overflow: hidden;
   margin: 0 auto; 
}
.navWrapper a{
    height:48px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color:var(--gs-light);
    border-bottom: 2px solid transparent;
    
}
.navLinks{
    display:flex;
    justify-content:left;
    align-items:center;
    list-style: none;
    width:120px;
    justify-content: center; 
}
.navWrapper a:hover,
.navWrapper a:focus,
.navWrapper a:active{
    border-bottom: 2px solid var(--blu);
    color:var(--blu);
    background: var(--gs-light);
}
.exponent{
    font-size: small;
    color:var(--lime);
    font-weight: 700;
    transform: translateY(-4px);
}