.topNav{
    position:fixed;
    backdrop-filter: grayscale(100%) blur(3px);
    background: rgb(40, 44, 52, 0.75);
    width:100%;
    top:0;
    right:0;
    height: 48px;
    border-bottom: 2px solid var(--azurra);
    z-index:999;
}
.fixedNav{
    position:fixed;
    right:0;
    top:0;
   
}
.navWrapper{
  overflow: hidden;
  display:flex;
  flex-direction: row;
   max-width:95%;
}
.navWrapper a{
    height:48px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color:var(--gs-light);
    border-bottom: 2px solid transparent;
    
}
.navLinks{
    display:flex;
    justify-content:left;
    align-items:center;
    list-style: none;
    width:120px;
    justify-content: center; 
}
.navWrapper a:hover,
.navWrapper a:focus,
.navWrapper a:active{
    border-bottom: 2px solid var(--blu);
    color:var(--blu);
    background: var(--gs-light);
}
.exponent{
    font-size: small;
    color:var(--lime);
    font-weight: 700;
    transform: translateY(-4px);
}