
.topNav{
    width:100%;
    height: 48px;
    border-bottom: 4px solid var(--azurra);
    z-index:999;
    transition: 2s ease-out;
}
.fixed{
   backdrop-filter: grayscale(100%) blur(5px); 
   background: rgb(40, 44, 52, 0.65);
   height:48px; 
}
.navWrapper{
    height: 48px;
    max-width: 90%;
    overflow: hidden;
   margin: 0 auto; 
}
.appLogo{
    position: fixed;
    background: black;
    top:0;
    height:48px;
    width:100%;
    color:#f1f1f1;
}

.navContainer{   
    position:relative;
    float:right;
    display:flex;
    flex-direction: row;
    transition: 2s step-end;
}

.navContainer a{
    height:48px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color:var(--gs-light);
    border-bottom: 4px solid transparent;
    padding:3px 6px;
    
}
.navLinks{
    display:flex;
    justify-content:left;
    align-items:center;
    list-style: none;
    justify-content: center; 
}
.navaLinks{
border-bottom: 2px solid #333;
width:192px;
letter-spacing: none;
}
.navaLinks:hover{
    border-bottom:2px solid var(--blu);
}
.navContainer a:hover{
    background: inherit;
    color:var(--orange);
}

.navContainer a:focus,
.navContainer a:active{
    border-bottom:4px solid var(--orange);
    color:var(--orange);
    
}

.exponent{
    font-size: small;
    color:var(--lime);
    font-weight: 700;
    transform: translateY(-4px);
}