
.modalBg{
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: grayscale(50%) blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal .modalMap{
    width: 300px;
    height: 240px;
    background-color: var(--gs-react);
    color: white;
    border-radius: 8px;
  }
  .modalMap{
    transform: translateY(-40vh);
  }
  
  .modalHeader {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    background: var(--gs-mid);
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .modalHeading {
    margin: 0;
    padding: 10px;
    color:var(--gs-light);
    font-weight: bolder;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  .closeBtn {
    cursor: pointer;
    margin-right: 10px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
  
  .modalContent {
    display:flex;
    max-width: 100%;
    flex-direction: column; 
    padding: 10px;
    font-size: 18px;
    color: var(--gs-light);
    overflow: hidden;
  }
  modalContent p{
    width:92px;
    font-size: 24px;
    text-align: center;
  }
  
  .modalActions {
  
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
 
  .callBtn {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
  }
  .callBtn i{
   color:inherit;
   font-size: larger;
  }
  
  
  .callBtn a{
    text-decoration: none;
    color:white;
  }
  .wppBtn a{
    text-decoration: none;
    color:black;
  }
  .mapBtn{
    border:none;
    padding:6px 12px;
    background: var(--blu);
    color:var(--gs-light);
    text-transform: uppercase;
    letter-spacing: 0.125em;
    transition: 1s;
    border-radius: var(--radius);
    cursor:pointer;
    transition: transform 0.5s;
  }
  .mapBtn:hover{
   transform: scale(1.1);
  }
  .callBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
  
  .wppBtn {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
  }
  .wppBtn i{
    color:green;
    font-size: large;
  }
  
  .wppBtn:hover {
    box-shadow: none;
    transform: translateY(-5px);
    background: whitesmoke;
  }
