@media screen and (max-width:768px) {
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}
.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap:1rem;

  }
.cardContainer img{
    width:100%; 
    height:40vh;  
    object-fit:cover;

}
.cardContainer{
display:flex;
flex-direction: column;
margin: 0 auto;
width: 100%;
gap: 1rem;
align-items: center;
border: 2px solid var(--gs-react);
opacity:1;
transform: translateX(0px);
transition: 200ms;
border-radius: var(--radius);
}
.cardContainer .show{
opacity: 0;
transform: translateX(0);
}
.cardHeader{
padding:6px 12px;
width: 100%;
background: var(--gs-react);
color:var(--gs-light);
opacity: 0.8;
}
.cardHeader h2{
text-align: center;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 0.2em;
overflow: hidden;
}
.cardBox{
    padding: 6px 12px;
    font-weight: 700;
    width:100%;
    border-top: 2px solid var(--gs-dark);
}
.cardBox div{
    display: flex;
    flex-direction: row;
    line-height: 2;
}
.cardHeader i{
font-size: 2em;
}

/*CARD BUTTON CUSTOMIZATION*/
.cardFooter{
    display:flex;
    flex-direction: row;
    
   
}
.cardFooter button{
display:flex;
padding: 2px 12px;
margin: 6px;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
cursor:pointer;
border-radius: var(--radius);
transition: transform .1s ease;

}
.cardFooter a{
    text-decoration: none;
}
.cardFooter button i{
display:inline-block;
color:var(--color-pearl);
font-size:1.5em;
transition:transform .2s;
}

.cardFooter  button:hover{
    transform:scale(1.15);
}

